body {
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

.container-dentro {
    display: inline-table;
    margin-top: 100px;
    margin-left: 190px;
    width: 65%;
    height: 500%;
}

.left {
    float: left;
    width: 310px;
    height: 566px;
}

.right {
    float: right;
    display: table;
    width: 58%;
    height: 400px;
}

.fa {
    display: inline-block;
}

.image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
    border: 3px solid #D7B957;
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 57px;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

select[multiple],
select[size] {
    height: auto;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.form-control {
    display: block;
    width: 90%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

label {
    cursor: default;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.usuername {
    font-size: 21px;
    margin-top: 5px;
}

.text-center {
    text-align: center;
}

.btn {
    background: #A8293C;
    border: 3px solid #A8293C;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    touch-action: manipulation;
    margin-top: 70px;
}

a {
    color: #A8293C;
}

a {
    color: #A8293C;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #A8293C;
    display: block;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
}

.control-label {
    float: left;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #dd4b39;
    border-color: red;
}

.btn {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
}

.has-feedback {
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}

.left.box-primary {
    border-top-color: #dd4b39;
}

.left {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}