.container {
    width: 80%;
}

.buscar {
    font-weight: bold;
}

#banner-impuestos {
    text-align: center;
}

#banner-impuestos {
    background: #a8293c;
}

#banner-impuestos {
    display: flow-root;
}

#botones-principal input[type="button"]:hover {
    background: #4d0e18;
}

#boton-buscar-impuestos:hover {
    background-color: #fff;
    color: #A8293C;
}

#form-impuestos input[type="text"] {
    width: 50%;
    border: none;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #D1D1D1;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}

.form-control {
    width: 30%;
}

#btnRegistrar {
    background: #A8293C;
    border: 3px solid #A8293C;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
}

#btnEditar {
    background: #A8293C;
    border: 3px solid #A8293C;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
}

#btnActivar {
    background: #A8293C;
    border: 3px solid #A8293C;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
}

#btnDesactivar {
    background: #A8293C;
    border: 3px solid #A8293C;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
}

#btnEliminar {
    background: #A8293C;
    border: 3px solid #A8293C;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
}

#tblImpuesto {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 2px solid #D7B957;
    border-collapse: collapse;
    width: 85%;
}

#tblImpuesto th {
    background-color: #D7B957;
    padding: 15px;
    text-align: center;
    color: #000000;
}

#tblImpuesto td {
    padding: 15px;
    text-align: center;
}

#txtFiltro {
    width: 40%;
    padding: .25em .10em;
}

footer {
    background-color: #8E7A3D;
    text-align: center;
}

#sctFooter {
    background-color: #8E7A3D;
    text-align: center;
}

footer div {
    display: inline-block;
    padding: 0px 30px 0px 30px;
    align-items: center;
    justify-content: center;
    background-color: #8E7A3D;
}

footer div h2 {
    text-align: center;
}